<h2>Grants</h2>
<p>"Sharpe Innovation Commons Seed Grant Award" by OSU geography ($5,000), 2020</p>
<p>"Everest Project" by Peking University ($6,000), 2013 - 2017</p>


<h2>Awards</h2>
<p>TR Lakshmanan and Lata Chatterjee Awards, 2020</p>
<p>Collaborative Achievement in Sustainability Award from Mid-Ohio Regional Plannin Commission (as group) </p>
<p>Scholarship of Tiehan, PKU, 2013-2016 </p>
<p>Honorable Mentioned by “Mathematical Contest in Modeling” Sponsored by COMAP </p>
<p>President of "Outstanding Class" award winner of PKU in 2015 </p>